@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


body{
    font-family: "Lexend", sans-serif;
}


details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  
  @keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }